[credential]
	helper = store
[user]
	email = evest.dev@gmail.com
	name = Ev357
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[trailer "changeid"]
	key = Change-Id
[core]
	editor = nvim --clean
[alias]
	undo = reset --soft HEAD^
[status]
	showUntrackedFiles = all
