@import "macchiato.css";

* {
  font-size: 17px;
  min-height: 0;
  font-family: GeistMono Nerd Font; 
}

#waybar {
  background: transparent;
  color: @Maroon;
  margin: 5px;
  margin-bottom: 0px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 10px;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
  padding-left: 0.2rem
}

#workspaces button.active {
  color: @surface2;
  border-radius: 1rem;
}

#workspaces button:hover {
  background-color: @surface2;
  color: @surface2;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @lavender;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 10px;
}

#battery {
  color: @lavender;
}

#battery.charging {
  color: @lavender;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @lavender;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @lavender;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 10px;
}

#custom-music {
    color: @lavender;
    border-radius: 10px;
}

#tray {
  margin-right: 10px;
  border-radius: 10px;
}
